@import url(./nav.css);

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e9e9e9;
}

.container-full {
    background-color: #333333;
}

.container-main {
    max-width: 1200px;
    margin: auto;
}

#header-main {
    display: grid;
    grid-template-columns: 500px auto auto;
    justify-content: center;
    align-content: center;
    background-color: #333333;
    
}

#header-main img {
    width: 50%;
    margin-top: 50px;
}

#header-main h1 {
    font-size: 63pt;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: #ffffff;
}

#header-main h2 {
    font-size: 49pt;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #6699cc;
}

#world-goals {
    margin-top: 8rem;
}

.world-goals-main {
    display: flex;
    /* width: 100rem; */
    margin-left: auto;
    margin-right: auto;
    font-size: 16pt;
}

.world-goals-main span {
    display: flex;
    color: #6699cc;
    font-size: 18pt;
}

.world-goals-articles {
    display: flex;
    width: 60rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 14pt;
    text-align: justify;
}

.world-goals-articles span {
    display: flex;
    font-size: 16pt;
    color: #6699cc;
}

#sub-goals {
    display: flex;
    /* width: 100rem; */
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 16pt;
}

#sub-goals span {
    display: flex;
    color: #6699cc;
    font-size: 18pt;
}

.examples {
    font-size: 16pt;
    font-weight: bold;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}

.gallery img {
    width: 100%;
}

.footer-main {
    background-color: #333333;
    color: #ffffff;
}

/* MEDIAQUERIES */

@media (max-width: 900px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
    
}

@media (max-width: 600px) {
    .gallery {
        grid-template-columns: repeat(1, 1fr);
    }
    
}