.nav-main {
    background-color: #333333;
}

.nav-main ul {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    margin: 0;
    padding: 2rem;
    list-style-type: none;
}

.nav-main li a {
    text-decoration: none;
    font-size: 16pt;
    color: #cccccc;
}